@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* height: 100dvh;
  min-height: 100vh; */
  display: block;
}


body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategray;
  text-align: center;
  color: gainsboro;
  letter-spacing: 0.2em;
  overflow-y: scroll; 
}

#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:visited{
  color: rgb(88, 133, 133);
  text-decoration: none;
  border-style: solid;
}
a:hover{
  color: inherit;
}

.btn_small_basic {
  border-radius: 0.5rem; /* 12px */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  letter-spacing: 0.1em;
  font-size: 1.1rem;
}

input {
  background-color: transparent;
  text-align: center;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  border-radius: 0.5rem; /* 12px */
}